<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GCDTutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A1AA27621EEFB1800CD3B5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A1AA28A21EEFB1900CD3B5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A1AA29521EEFB1900CD3B5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
